@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@plugin "@tailwindcss/typography";
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-playfair: "Playfair", serif;

    --text-paragraph: 16px;
    --text-paragraph--line-height: 28px;
    --text-paragraph--letter-spacing: 0px;

    --text-h6: 16px;
    --text-h6--font-weight: 700;
    --text-h6--line-height: 150%;
    --text-h6--letter-spacing: 0px;

    --text-h5: 14px;
    --text-h4--line-height: 21px;
    --text-h5--font-weight: 700;
    --text-h5--letter-spacing: 0px;

    --text-h4: 20px;
    --text-h4--font-weight: 700;
    --text-h4--line-height: 30px;
    --text-h4--letter-spacing: 0px;

    --text-h3: 32px;
    --text-h3--font-weight: 700;
    --text-h3--line-height: 48px;
    --text-h3--letter-spacing: 0px;

    --text-h2: 48px;
    --text-h2--font-weight: 700;
    --text-h2--line-height: 58px;
    --text-h2--letter-spacing: 0px;

    --text-h1: 56px;
    --text-h1--font-weight: 700;
    --text-h1--line-height: 68px;
    --text-h1--letter-spacing: 0px;

    --text-number-1: 24px;
    --text-number-1--font-weight: 500;
    --text-number-1--line-height: 36px;
    --text-number-1--letter-spacing: 0px;

    --text-nav-link: 16px;
    --text-nav-link--font-weight: 500;
    --text-nav-link--line-height: 24px;
    --text-nav-link--letter-spacing: 0px;

    --text-label-1: 24px;
    --text-label-1--line-height: 32px;

    --text-label-2: 16px;
    --text-label-2--font-weight: 500;
    --text-label-2--line-height: 24px;
    --text-label-2--letter-spacing: 0;

    --text-label-3: 18px;

    --text-cap-1: 16px;
    --text-cap-1--font-weight: 400;
    --text-cap-1--line-height: 24px;
    --text-cap-1--letter-spacing: 0px;

    --text-cap-2: 14px;
    --text-cap-3: 12px;
    --text-cap-3--letter-spacing: 0%;

    --color-primary: #FFD2A4;
    --color-primary-hover: #F2C79B;
    --color-light-orange: #FFF5EB;
    --color-grey: #2E2D33;
    --color-colour-100: #B8B8B8;
    --color-colour-200: #FFB577;
    --color-colour-0: #19161B;
}

body {
    font-family: "Poppins", sans-serif;
    color: #B8B8B8;
    background: #19161B;
}

@layer components {

    .current-menu-item {
        text-decoration: underline;
    }

    .main-box {
        position: relative;
        padding: 0 24px;
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
    }

    .wrapper {
        max-width: 1278px;
        width: 100%;
        margin: 0 auto;
    }

    .block-editor-wrapper {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }

    .text-gradient {
        @apply bg-gradient-to-r from-[#A54E2B] to-[#DC9853] bg-clip-text text-transparent;
    }

    .button-primary {
        background-color: var(--color-colour-200);
        padding: 8px 16px;
        min-width: 164px;

        text-align: center;
        font-size: var(--text-label-med);
        color: #2E2D33;
        text-wrap: nowrap;

        @variant hover {
            @apply opacity-90;
        }

        @variant active {
            @apply opacity-70;
        }

        @media screen and (min-width: 1024px) {
            & {
                padding: 12px 22px;
            }
        }
    }
}

.page-numbers {
  @apply inline-block px-4 py-2 border border-black text-label-2 text-black;
}

.page-numbers:hover {
  @apply bg-grey border-gray-400;
}

.page-numbers.current {
  @apply bg-primary border-primary cursor-default font-bold;
}

ul.page-numbers {
  @apply flex justify-center gap-2 mt-8;
}

ul.page-numbers li {
  @apply list-none;
}